@import "breakpoints";

.hideOnDesktop {
  @include desktop {
    display: none !important;
  }
}

.showOnlyOnDesktop {
  display: none;
  @include desktop {
    display: grid !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}